body
{
    font-family: "Baloo Paaji 2" , sans-serif;
    background-image: linear-gradient(180deg, #29000C, #8F002A);
}
.navbar
{
    background-image: linear-gradient(90deg, #29000C, #8F002A);
}
.logo{
    height: 52px;
    width: 188px;
}
.account{
    height: 48px;
    width: 48px;
    border-radius: 30px;
}
.navbar-nav .nav-link.active{
    color: #FFBDBD;
    transform: scale(1.3);
}
.library-body{
    background-image: linear-gradient(180deg, #29000C, #8F002A);
}
.explore-body{
    background-image: linear-gradient(180deg, #29000C, #8F002A);
}

.white{
    color: #ffffff;
}
.light-red{
    color: #FFBDBD;
}
.md-red{
    color: #FF6C6C;
}
.maroon{
    color: #800000;
}
.dark-red{
    color: #29000C;
}
.first-section{
    background-image: linear-gradient(0deg, #e7aaaa, #FFB4B4);
}
.third-section{
    padding-bottom: 35px;
    background-image: linear-gradient(0deg, #ecdddd, #FFB4B4);
}
.forth-section .card{
    width: auto;
    height: auto;
}
.card{
    background-color: transparent;
    width: 297px;
    height: 750px;}
.shounen{
    background-color: #FFBDBD;
    border-radius: 4px;
}
.shoujo{
    background-color: #FDB4FF;
    border-radius: 4px;
}
.josei{
    background-color: #FFE68B;
    border-radius: 4px;
}
.cardi{
    border-radius: 5px;
    width: 314px;
    height: 410px;
    
}
.seinen{
    background-color: #B4D2FF;
    border-radius: 4px;
}
.mangaka{
    border-radius: 100%;
    width: 185px;
    height: 185px;
}
footer{
    background-color: #29000C;
}
.social-media-icons{
    font-size: 30px;
}
.social-media-icons :hover{
    transform: scale(1.3);
    color: #FFBDBD;
}
.footer-items :hover{
    color: #FF6C6C;
}
.footer-text{
    font-size: 12px;
    opacity: 0.5;
}
.library-body .nav-link{
    background-color: #FFBDBD50;
    color: #29000C;
}
.library-body .nav-link.active{
    background-color: #FBB9B9;
}
.opa{
    background-color: #FFBDBD95;
}
.account-first-section{
    background-image: url(image/Unohana2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.dropdown{
    height: 50px;
    width: 80px;
}
.dropdown.active{
    color: #FF6C6C;
}
.account-pic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.account-info{
    margin-top: 27%;
}
.account-second-section .card{
    height: auto;
    width: auto;
    border: 5px solid #FBB9B9;
    border-radius: 20px;
}
.lists{
    height: 284px;
    width: 266px;
}
.favorits{
    height: 310px;
    width: 217px;
    border-radius: 20px;
}
.manga-first-section{
    background-image: url(image/Bungou.Stray.Dogs.full.4097633.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.manga-title{
    font-size: 50px;
}
.badge{
    font-size: 30px;
    background-color: white;
    color: #29000C;
    border-radius: 30px;
}
.icons{
    font-size: 40px;
}
.manga-info, .manga-des{
    font-size: 25px;
}
.icons.active, .icons:hover{
    color: #FF6C6C;
}
.manga-third-section .card{
    width: auto;
    height: auto;
}
.manga-third-section .nav-link{
    background-color: #FFBDBD50;
    color: #29000C;
}
.manga-third-section .nav-link.active{
    background-color: #FBB9B9;
}
/* .navbar-brand,
.text-primary {
    color: #ffa0a0 !important;
}
.blue-bg{
    background-color: #1b0505;
    color: aliceblue;
}
.btn-bg{
    background-color: #ff58a9;
    color: rgb(29, 8, 8);
}
.third-section{
    background-image: linear-gradient(0deg, #f13e3e, #541d1d);
}
.icons{
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
    border-radius: 20px;
    color: #ff58a9;
    background-color: #541d1d;
    padding: 6px;
} */